@page "/converter"

@using System.Security.Cryptography
@using CryptoBlazor.Data
@inject WeatherForecastService ForecastService
@inject DataAccess Database

<h1 style="text-align: center;">Converter</h1>

<div class="container" style="margin-top: 80px;">
    <div class="row">
            <div class="offset-2 col-4">
                <input type="number" style="width: 100%;border-radius: .25rem;border: 1px solid #ced4da;padding-left: 12px;padding-right: 12px;" @bind="amount">
            </div>
            <div class="col-4">
                <p style="width: 100%;padding:1px 12px 1px 12px;color: red;"><b>@total</b></p>
            </div>
    </div>
</div>

<div class="container" style="margin-top: 20px;">
    <div class="row">
        <div class="offset-2 col-4">
            <select class="form-control" @bind="coin">
                <option selected disabled value="-1">Choose a coin</option>
                <option value="bitcoinHistory Bitcoin (BTC)">Bitcoin (BTC)</option>
                <option value="ethereumHistory Etherum (ETH)">Etherum (ETH)</option>
                <option value="tetherHistory Tether (USDT)">Tether (USDT)</option>
                <option value="bitcoin-cashHistory Bitcoin Cash (BCH)">Bitcoin Cash (BCH)</option>
                <option value="bitcoin-svHistory Bitcoin SV (BSV)">Bitcoin SV (BSV)</option>
                <option value="litecoinHistory Litecoin (LTC)">Litecoin (LTC)</option>
                <option value="eosHistory EOS (EOS)">EOS (EOS)</option>
                <option value="binance-coinHistory Binance Coin (BNB)">Binance Coin (BNB)</option>
                <option value="tezosHistory Tezos (XTZ)">Tezos (XTZ)</option>
                <option value="unus-sed-leoHistory UNUS SED LEO (LEO)">UNUS SED LEO (LEO)</option>
            </select>
        </div>
        <div class="col-4">
            <select class="form-control" @bind="currencyType">
                <option selected disabled value="-1">Choose a currency</option>
                <option value="USD">United States Dollar (USD)</option>
                <option value="EUR">Euro (EUR)</option>
                <option value="GBP">Great Britain Pound (GBP)</option>
                <option value="HRK">Hrvatska kuna (HRK)</option>
            </select>
        </div>
    </div>
</div>

<div class="container" style="margin-top: 20px;">
    <div class="row">
        <div class="offset-4 col-2">
            <button class="btn btn-default btn-block" @onclick="@(() => GetCryptoData(coin))">
                Convert
            </button>
        </div>
        <div class="col-2">
            <button class="btn btn-default btn-block" @onclick="@(() => Reload())">
                Refresh
            </button>
        </div>
    </div>
</div>

@code {
    string coin, currencyType, frontCurrencyType, coinType;
    private CryptoHistoryPrices prices;
    double max = 0, total = 0, amount = 0;
    public void Reload()
    {
        coin = currencyType = coinType = "";
        max = total = 0;
        amount = 0;
        prices = null;
    }

    protected async Task GetCryptoData(string collectionName)
    {
        var splitter = collectionName.Split(" ");
        coinType = "";
        for (var i = 1; i < splitter.Length; i++)
        {
            if (i == (splitter.Length - 1)) coinType += splitter[i];
            else coinType += splitter[i] + " ";
        }
        prices = await Database.GetCryptoData(splitter[0]);
        int last = prices.historyPrices.Count - 1;
        Console.WriteLine(last);
        
        double usdPrice = prices.historyPrices[last].PriceUsd * amount;
        if (currencyType == "USD") total = usdPrice;
        else if (currencyType == "EUR") total = usdPrice * 0.92;
        else if (currencyType == "GBP") total = usdPrice * 0.81;
        else if (currencyType == "HRK") total = usdPrice * 7.04;
        frontCurrencyType = currencyType;
  
        prices = await Database.GetCryptoData(splitter[0]);
        Console.WriteLine(prices.Name);
    }
}

<style>
    .btn
    {
        background-color: #202020;
        border: none;
        color: white;
    }
    .btn:hover
    {
        background-color: #505050;
        color: white;
    }
    .btn:active
    {
        background-color: #505050;
        color: white;
        box-shadow: none;
    }
    .btn:focus
    {
        color: white;
        box-shadow: none;
    }
    .btn:hover:active:focus
    {
        background-color: #505050;
        color: white;
        box-shadow: none;
    }
</style>
