@page "/"
@using CryptoBlazor.Data
@inject UserService User
@inject IJSRuntime JSRuntime

@if (login)
{
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->
            <!-- Icon -->
            <div class="fadeIn first">
                <br /><h1>Login</h1>
            </div>

            <!-- Login Form -->
            <form>
                <input @bind-value="username" type="text" id="login" class="fadeIn second" name="login" placeholder="username">
                <input @bind-value="password" type="text" id="password" class="fadeIn third" name="login" placeholder="password">
                <input @onclick="loginNow" type="submit" class="fadeIn fourth " value="Log In">
            </form>

            <!-- Change -->
            <div id="formFooter">
                <a class="black-options-text" href="#" @onclick="change">Don't have an account?</a>
            </div>

        </div>
    </div>
}
else
{
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->
            <!-- Icon -->
            <div class="fadeIn first">
                <br /><h1>Signup</h1>
            </div>

            <!-- Signup Form -->
            <form>
                <input @bind-value="email" type="text" id="mail" class="fadeIn first" name="signup" placeholder="email">
                <input @bind-value="username" type="text" id="username" class="fadeIn second" name="signup" placeholder="username">
                <input @bind-value="password" type="text" id="password" class="fadeIn third" name="signup" placeholder="password">
                <input @onclick="signupNow" type="submit" class="fadeIn fourth" value="Sign Up">
            </form>

            <!-- Change -->
            <div id="formFooter" style="background-color: #A9A9A9;">
                <a class="black-options-text" href="#" @onclick="change">Already have an account?</a>
            </div>

        </div>
    </div>
}

@code{
    bool login = true;
    string email = "";
    string username = "";
    string password = "";

    void change()
    {
        login = !login;
    }

    async Task loginNow()
    {
        Console.WriteLine("Login");
        Console.WriteLine(await JSRuntime.InvokeAsync<string>("login", email, password));
    }

    async Task signupNow()
    {
        Console.WriteLine("Signup");
    }
}

<style>
    #formContent
    {
        background-color: #F8F8F8;
    }
    #formFooter
    {
        background-color: #A9A9A9;
    }
    .black-options-text 
    {
        color: black;
    }
    .black-options-text:link {
        color: black;
    }
    .black-options-text:visited {
        color: black;
    }
    .black-options-text:hover {
        color: black;
    }
    .black-options-text:active {
        color: black;
    }
    input[type=submit] 
    {
        background-color: #202020;
        border: none;
        color: white;
        box-shadow: none;
    }
    input[type=submit]:hover
    {
        background-color: #505050;
        color: white;
    }
    input[type=submit]:active
    {
        background-color: #505050;
        color: white;
        box-shadow: none;
    }
    input[type=submit]:focus
    {
        color: white;
        box-shadow: none;
    }
    input[type=submit]:hover:active:focus
    {
        background-color: #505050;
        color: white;
        box-shadow: none;
    }
    input[type=text] 
    {
        background-color: #F0F0F0;
        border: none;
        box-shadow: none;
    }
    input[type=text]:hover
    {
        background-color: #F0F0F0;
    }
    input[type=text]:active
    {
        background-color: #F0F0F0;
        box-shadow: none;
    }
    input[type=text]:focus
    {
        background-color: #F0F0F0;
        box-shadow: none;
        border: none;
    }
    input[type=text]:hover:active:focus
    {
        background-color: #F0F0F0;
        box-shadow: none;
        border: none;
    }
</style>