@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main" style="background-color: #F8F8F8">
    <div class="top-row px-4" style="background-color: #A9A9A9">
        <a href="https://docs.microsoft.com/aspnet/" target="_blank" style="color: white">About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

<style>
    .sidebar 
    {
        background-image: linear-gradient(#181818, #484848);
    }
</style>
